@use '../styles/variables' as *; 

.dashboard-content {
  padding: $spacing-base * 2.5;
  width: 100%;
  margin: 0 auto;
  max-width: 100rem; 

  @media (max-width: $mobile) {
    padding: $spacing-base;
  }
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: $spacing-base * 1.5;

  @media (max-width: $mobile) {
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-base;
    
    .ant-space, button {
      width: 100%;
      justify-content: flex-end;
    }
  }
}

.shadow-sm {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  border-radius: $radius-md;
}